// partials for a simple table
table {  
  width: 100%;
  caption {
    font-size: 2em;
    font-weight: bold;
  }
  td {
    text-align: center;
    height: 100px;
    position: relative;

    label {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      line-height: 100px;
    }

    .control_background {
      background-color: #ebebec;
      border-top: 1px solid lighten(#FC4827, 5%);
      position:absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
    }

    input:checked ~ .control_background {
      background-color: lighten(#FC4827, 5%);
    }

    input {
      opacity: 0;
      cursor: pointer;
      position: absolute;
    }
  }
}