table {
  width: 100%; }
  table caption {
    font-size: 2em;
    font-weight: bold; }
  table td {
    text-align: center;
    height: 100px;
    position: relative; }
    table td label {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      line-height: 100px; }
    table td .control_background {
      background-color: #ebebec;
      border-top: 1px solid #fc5d40;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1; }
    table td input:checked ~ .control_background {
      background-color: #fc5d40; }
    table td input {
      opacity: 0;
      cursor: pointer;
      position: absolute; }

.app {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 600px;
  font: 2rem Arial, sans-serif; }
  .app > .header {
    text-align: center;
    font-size: 3rem;
    height: 6rem;
    line-height: 6rem;
    color: white;
    background-color: black;
    position: relative; }
    .app > .header #back-button {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 2rem;
      background: url("../img/arrow_back.png") center no-repeat;
      padding-left: 1em;
      cursor: pointer; }
  .app #search-bar {
    line-height: 4rem;
    height: 4rem;
    font-size: 2rem;
    width: 100%;
    border: none; }
  .app > form {
    position: absolute;
    top: 10rem;
    bottom: 6rem;
    width: 100%;
    overflow-y: auto; }
  .app > .button {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #fc5d40;
    cursor: pointer; }
